body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

a,
svg {
  color: rgb(255, 255, 255);
}

h4 {
  margin: 0;
  border: 0;
  padding: 0;
}

.ss-scroll {
  background: #3f3f3f;
  width: 12px;
  border-radius: 0;
}
